@import 'var';

.likes, .comments, .retweet, .share {
    cursor: pointer;
}

.likes {
    &:hover {
        color: $primary;
    }
}

.comments {
    &:hover {
        color: $orange;
    }
}

.retweet {
    &:hover {
        color: $green;
    }
}

.share {
    &:hover {
        color: $blue;
    }
}