@if (event && event.user) {
    <hr>
    <div class="d-flex gap-3 mt-2 mb-2">
        <img src="{{'http://127.0.0.1:8000/storage/' + event.user.avatar}}" class="avatar-sm clickable" alt="" (click)="goToUserProfile(event.user.username)">
        <main class="flex-grow-1 d-flex flex-column gap-3">
            <header class="d-flex flex-column gap-2">
                <span class="fw-bold clickable" (click)="goToUserProfile(event.user.username)">{{event.user.nickname}}</span>
                <nav class="d-flex flex-column gap-2">
                    <span class="fw-bold text-primary">{{event.name}}</span>
                    <ul class="nav justify-content-lg-around justify-content-center gap-1 border rounded-pill p-2 pt-2 pt-lg-3 bg-dark border-secondary">
                        <li>
                            <fa-icon [icon]="['fas', 'location-dot']"></fa-icon>
                            {{ event.location }}
                        </li>
                        <hr>
                        <li>
                            <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
                                {{event.starts_at | date:"d MMMM h:mm a" }}
                                -
                                {{event.finish_in | date:"d MMMM h:mm a" }}
                        </li>
                    </ul>
                </nav>
            </header>
            <main class="d-flex flex-column gap-2">
                {{event.description}}
                @if (event.picture) {
                    <img src="{{'http://127.0.0.1:8000/storage/' + event.picture}}" class="img-fluid rounded-2 object-fit-cover" style="max-height: 20em;" (click)="mostrar_imagen()">
                    @if (imagen_visible) {
                        <div class="w-100 h-100 position-fixed bg-black opacity-25  top-0 end-0 bottom-0 start-0 m-auto z-2" (click)="ocultar_imagen()"></div>
                        <img src="{{'http://127.0.0.1:8000/storage/' + event.picture}}" class="img-fluid rounded-2 position-fixed top-0 end-0 bottom-0 start-0 m-auto z-3" (click)="ocultar_imagen()">
                    }
                }
            </main>
            <footer>
                <nav>
                    <ul class="nav justify-content-around">
                        <li class="likes" (click)="toggleLike()" [ngClass]="{'text-primary': isLiked()}">
                            <fa-icon [icon]="isLiked() ? ['fas', 'heart'] : ['far', 'heart']" ></fa-icon>
                            {{event.likes_count}}
                        </li>                        
                        <li class="comments">
                            <fa-icon [icon]="['far', 'comment']"></fa-icon>
                            {{event.comments_count}}
                        </li>
                        <!-- <li class="retweet">
                            <fa-icon [icon]="['fas', 'retweet']"></fa-icon>
                            {{event.reposts_count}}
                        </li> -->
                        <li class="share">
                            <i class="bi bi-share"></i>
                        </li>
                    </ul>
                </nav>
            </footer>
        </main>
    </div>
}