.avatar-lg, .avatar-md, .avatar-sd {
    border-radius: 50%;
}
.avatar-lg {
    width: 4em;
    height: 4em;
}.avatar-md {
    width: 2.5em;
    height: 2.5em;
}.avatar-sm {
    width: 2em;
    height: 2em;
}