<ul class="list position-absolute end-0">
  <li class="p-2 d-flex">
    <img src="assets/even2me-solid.svg" routerLink="/" class="text-decoration-none" style="width: 1.6em; cursor: pointer" title="Inicio">
  </li>
  <li class="p-2 d-flex  gap-5">
    <a routerLink="/" class="link-secondary rounded text-decoration-none h5" title="Inicio">
      <fa-icon [icon]="['fas', 'house']"></fa-icon>
      Inicio
    </a>
  </li>
  <li class="p-2 d-flex  gap-5">
    <a routerLink="/explore" class="link-secondary rounded text-decoration-none h5" title="Descubrir">
      <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
      Descubrir
    </a>
  </li>
  <li class="p-2 d-flex  gap-5">
    <a routerLink="/notifications" class="link-secondary rounded text-decoration-none h5" title="Notificaciones">
      <fa-icon [icon]="['far', 'bell']"></fa-icon>
      Notificaciones
    </a>
  </li>
  <li class="p-2 d-flex  gap-5">
    <a routerLink="/profile" class="link-secondary rounded text-decoration-none h5" title="Perfil">
      <fa-icon [icon]="['far', 'user']"></fa-icon>
      Perfil
    </a>
  </li>
  <li class="p-2 d-flex  gap-5">
    <a routerLink="/options" class="link-secondary rounded text-decoration-none h5" title="Ajustes">
      <i class="bi bi-gear"></i>
      Ajustes
    </a>
  </li>
</ul>
<div routerLink="/profile" class="d-flex bottom-0 btn rounded-pill position-absolute p-3 end-0 gap-3">
  <img src="assets/images/default.svg" class="avatar-md">
  <div class="d-flex flex-column">
    <span class=" text-light fw-semibold">Username</span>
    <span class=" text-secondary">&#64;Username</span>
  </div>
</div>